<main>
  <!-- <h1>My Products</h1> -->
  <!-- <p>List of all the products.</p> -->
  {{#if hasProducts}}
    <div class="grid">
      {{#each prods}}
        <h1 class="product__title">{{this.title}}</h1>
      {{/each}}
    </div>
  {{else}}
    <h1>No Products Found!</h1>
  {{/if}}
</main>